.CreateAccountForm
{
    padding-top: 30px;
    width: 527px;
    height: 1050px;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
    margin-left: 30px;
}

.CreateAccountForm form{
    padding-left: 60px;
    display: inline-block;
}
.CreateAccountForm h3
{
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 45px;
    color: #05386B;

}
.CreateAccountForm h6
{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 25px;
}

.CreateAccountForm input
{
    border: none;
    border-bottom: 2px solid #000000;
    width: 400px;
    padding-left: 60px;
}

.CreateAccountForm button{

    width: 221px;
    height: 70px;
    left: 230px;
    top: 688px;
    margin-left: 70px;

    background: #8EE4AF;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #000000;
}

.CreateAccountForm p
{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    display: inline-block;
    color: #2F6434;
    padding-left: 60px;

}

.CreateAccountForm p a
{
    text-decoration: none;
    color: #2F6434;
}
