* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-color: #fff;
  }
  
  .side-navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #35D5A6;
    transition: 0.5s;
  }

  .nav-link a{
    color: white;
    text-decoration: none;
  }

  /* .navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;  
    padding-top: .5rem;
    padding-bottom: .5rem;
  } */

  .btn-light{
    position: relative;
    color: #000000;
    /*top: 22px; */
    /* left: 350px;
    width: 300px; */
    
    height: 34px;
    text-align: center;
    color: #05386B;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 250px;
  }
  
  #menu-btn {
    background-color: #35D5A6;
    color: #fff;
    margin-left: -30px;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }

  /* .p-4{
    padding-bottom: 0.5rem;
  } */
  
  .whitebox{
    height: auto;
	background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
    
  }

  .contentbox{
    padding : 10px;
    /* display: flex;
    flex-direction: column; */
  }

  .Ann_title{
    text-decoration: none;
    color: black;
  }

  .Ann-date{
      text-align: right;
  }

  .Ann_desc{
    padding-left : 10px;
  }

  .Ann_add button{
    margin-bottom: 20px;
    background-color: #35D5A6 ;
    color: white;
    width: fit-content;
    padding : 10px 20px;
    border: none ;
    height: fit-content;
    /* justify-content: flex-end; */
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  .Ann_delete button{
    position: relative;
    left: 90%;
    background-color: #35D5A6 ;
    color: white;
    width: fit-content;
    padding : 5px 10px;
    border: none ;
    height: fit-content;
    /* justify-content: flex-end; */
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }


  /*form*/

  .ann_text_section h4{
    padding-top: 20px;
  }

  .my-container input {
    border-radius: 3px;
    padding: 2px 10px;
  }

  .form-control{
    padding: 2px 10px;
    margin-bottom: 20px;
  }

  label{
    margin-bottom: 5px;
  }